.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  background-color: var(--background-secondary);
  cursor: default;

  &__face {
    border: var(--border-size-primary) solid;
    box-sizing: border-box;

    &--revealed {
      background-color: var(--background-secondary);
      border-color: var(--background-secondary);
    }

    &--unrevealed {
      background-color: var(--background-primary);
      border-color: var(--border-light) var(--border-dark) var(--border-dark) var(--border-light);

      height: 100%;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__icon {
    font-size: var(--font-size-adjacent);
  }

  &__adjacent {
    font-weight: bold;

    @for $i from 1 through 8 {
      &--#{$i} {
        color: var(--color-#{$i});
      }
    }
  }
}
