:root {
  --text: #6b6375;
  --bg: #fff;
  --background-primary: #c7c7c7;
  --background-secondary: #c0c0c0;
  --border-light: #f0eded;
  --border-dark: #8c8b8b;

  --color-1: blue;
  --color-2: green;
  --color-3: red;
  --color-4: purple;
  --color-5: firebrick;
  --color-6: brown;
  --color-7: black;
  --color-8: magenta;

  --cell-size: 30px;
  --border-size-primary: 2px;
  --font-size-adjacent: 16px;

  font: 18px/145% var(--sans);
  color: var(--text);
  background: var(--bg);
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}